# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\marsforever\git_repositories\gupaoedu-vip\P6VIP\gupaoedu-vip-design-principle-dependencyinversion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
